{% extends 'base.html.twig' %}

{% block section %}


<a href="{{path('homepage')}}">
<img src="{{ asset('image/logo.gif') }}" alt="sprint.io" />
</a>


    <div>{{form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}</div>
    <div>{{form_widget (form) }}</div>
    <div>{{form_end(form)}}</div>

{% endblock %}


