{% extends 'base.html.twig' %}

{% block navigation %}
    <a id="logo" href ="{{  path('homepage') }}">
    	<img src="{{ asset('image/logo.gif') }}" alt="Sprint.io" />
    </a>
    
    {% if global_access %}
	<div>
		<a class=" btn btn-info" role="button" href="{{ path('left') }}">Sign out</a>
	</div>
	{% else %}
	<a class=" btn btn-info" role="button" href="{{ path('auth') }}">Sign in</a>
	<a class=" btn btn-info" role="button" href="{{ path('join') }}">Sign up</a>
	{% endif %}
    {% endblock %}



